{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentobay</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="waiting_container">
        <div class="in_wait">
            <img src="{% static './images/background.png' %}" alt="">
        <h1>Thank You for Payment</h1>
        <p>WE have received the payment,
            
        </p>
        <a style="margin-bottom:20px;" href="{% url 'homepage:homepage' %}" class="btn">Home</a>
        </div>
    </div>
    
</body>
</html>