$blue_color:#fb4e2e;
$light_blue:#f9edeb;
$border : 1px solid rgba(0,0,0,.1);
$background : #f9edeb;
$box_shadow : rgba(0,0,0,.1);
$white : #fff;
$text-color:#333;
$paragraph_color:#666;
$span_color:#999;