{% extends 'base.html' %}
{% load static %}
{% block extra_head %}

  <!-- leflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <link rel="stylesheet" href="{% static '/dist/MarkerCluster.css' %}" />



  <link rel="stylesheet" href="{% static '/dist/MarkerCluster.Default.css' %}"/>


  <!-- locator -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.css" />

<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@v0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.4/dist/L.Control.Locate.min.css" />



{% endblock extra_head %}

{% block content %}

   

<!-- breadbrump -->
<section class="breadbrump">
    <div>
       <div >
          <h1 class="page-title">Map View</h1>
          <div>
             <ul>
                <li><a href="#/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="#/"><i class="fas fa-angle-double-right"></i> map view </a></li>
             </ul>
          </div>
       </div>
    </div>
    </div>
  </section>
  
<!-- endbread brump -->


<section class="map" id="contact">

  
    {% if formatted %}
    <p style="font-size:2rem;color:black; margin-bottom:2rem;"> search near : {{formatted}} </p>
    {% endif %}
    
    
    <div class="row">
    
        
        <div style="height:100vh;" id="map"></div>
    </div>
    
</section>

<section class="featured" id="featured">

    <h1 class="heading"> <span>All</span> buildings </h1>

    <div class="box-container">

        {% if building %}
        {% for b in building %}
        
       
        
        <div class="box">
            <div class="image-container">
                <img src="{{b.building_main_pic.url}}" width = "338.77" height="225" alt="">
                <div class="info">
                    <h3>for rent</h3>
                </div>
                <div class="icons">
                    <a href="#" class="fas fa-film"><h3>1</h3></a>
                      
                    <a href="#" class="fas fa-camera"><h3>4</h3></a>
                    
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="fas fa-envelope"></a>
                    <a href="#" class="fas fa-phone"></a>
                </div>
                <div class="location">
                    <h3>{{b.building_name}}</h3>
                    <p>{{b.location_name}}</p>
                </div>
                <div class="details">
                   
                   
                    

                    {% if b.tv_connection  %}
                    
                    <h3> <i class="fas fa-tv"></i> tv connection </h3>

                    {% endif %}

                    {% if b.security  %}
                    
                    <h3> <i class="fas fa-key"></i> security </h3>

                    {% endif %}
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="{{b.get_absolute_url}}" class="btn">view details</a>
                </div>
            </div>
        </div>
        

        
        {% endfor %}

        {% endif %}

      
    </div>
    
</section>



<!-- footer section starts  -->



{% endblock content %}


{% block extra_js %}

<!-- markercluster  -->
<script src="{% static '/dist/leaflet.markercluster.js' %}"></script>
<!--  locator -->
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol@0.74.0/dist/L.Control.Locate.min.js" charset="utf-8"></script>



<script>

    // map
    var map = L.map( 'map', {
        center: [-1.286389,  36.817223],
        minZoom: 2,
        zoom: 7,
        zoomControl: true
    
        });
    L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
        maxZoom: 20,
        subdomains:['mt0','mt1','mt2','mt3']
    }).addTo(map);
    L.control.locate().addTo(map);

  

     var smallIcon = new L.Icon({
        iconSize: [27, 27],
        iconAnchor: [13, 27],
        popupAnchor:  [1, -24],
        iconUrl: '{% static "images/mk.png" %}'
    });
    
     const markers = L.markerClusterGroup();

    
    $.getJSON("{% url 'homepage:all_buildings' %}", function(data){
        
        var geojson = L.geoJson(data, {
        onEachFeature: function(feature, layer) {
            layer.bindPopup('pop-up content');
        },
        pointToLayer: function (feature, latlng) {
            return markers.addLayer(L.marker(latlng, {icon: smallIcon}));
          }
     });
     geojson.addTo(map);
     
     });
     // marker clustering
    map.addLayer(markers);



</script>




{% endblock extra_js %}

