{% extends 'base.html' %}
{% block content %}

{% include './index_files/home.html' %}
{% include './index_files/services.html' %}
{% include './index_files/featured.html' %}
{% include './index_files/footer.html' %}

{% block extra_js %}
{% comment %} <script src="http://maps.google.com/maps/api/js?sensor=false"></script> {% endcomment %}

{% comment %} <script>

    const provider = new OpenStreetMapProvider();


</script> {% endcomment %}


<script>
    var openstre = require('leaflet-geosearch')
    // import { OpenStreetMapProvider } from 'leaflet-geosearch';

$('#location_search').on('input', function(e) { 
    // Your code here
    const value = $('#location_search').val()
    const provider = new OpenStreetMapProvider();
    const results = provider.search({ query: value });
    
    console.log(results)
});

</script>


<script>
    function callingEXternalApi(){
         const value = document.getElementById('search_id').value
         console.log(value)
         const appended = $("#appended")

         const list = `<div id="info-holder" class="search_info">
            
 
             
        </div>`

        appended.append(list)

        const card_holder = $("#info-holder")
         card_holder.empty();
     
 

 
 

         var settings = {
            "url": "https://nominatim.openstreetmap.org/search.php?q=waruku&polygon_geojson=1&format=jsonv2",
            "method": "GET",
            "timeout": 0,
            "headers": {
              "authority": "nominatim.openstreetmap.org",
              "pragma": "no-cache",
              "cache-control": "no-cache",
              "sec-ch-ua": "\" Not A;Brand\";v=\"99\", \"Chromium\";v=\"99\", \"Google Chrome\";v=\"99\"",
              "dnt": "1",
              "sec-ch-ua-mobile": "?0",
              "user-agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.82 Safari/537.36",
              "sec-ch-ua-platform": "\"Linux\"",
              "accept": "*/*",
              "sec-fetch-site": "same-origin",
              "sec-fetch-mode": "cors",
              "sec-fetch-dest": "empty",
              "referer": "https://nominatim.openstreetmap.org/ui/search.html?q=waruku",
              "accept-language": "en-US,en;q=0.9"
            },
          };
          
          $.ajax(settings).done(function (response) {
            console.log("ajax",response);
            const card_holder = $("#info-holder")
            card_holder.empty();
        
                const addresses =  response
        
                
                for (let n = 0; n < addresses.length; n++) {
                    const el = addresses[n];
        
                    const element = `<div style="cursor:pointer;width:50rem;" onclick="passToIput(this)" class="card">
                        <input id="hidden_id" type="hidden" value="${el.display_name}" >
                        <p class="titlee">${el.display_name}</p>
                        <p  class ="body" >${el.type}</p>
                    </div>`
                    card_holder.append(element)
                }
          });


        
    
 
         
 
         
 
 

 }
 </script>
 

 <script>

    function passToIput(data){
        console.log(data)
        const doc = new DOMParser().parseFromString(String(data.innerHTML), "text/xml");
        const ele = doc.getElementById("hidden_id").getAttribute("value")
        console.log(ele)
        document.getElementById('search_id').value=ele ; 
    
    }
    </script>

 {% endblock extra_js %}


{% endblock content %}

