{% extends 'base.html' %}

{% load static %}

{% block header_form %}

<form method="POST" action="{% url 'homepage:map_search' %}">
    
    {% csrf_token %}
        
    <div id="appended" class="inputBox">
        <input onChange="callingEXternalApi()" id="search_id" type="search" name="location_search"  placeholder="Search..." id="">
        
       
    </div>

    <button type="submit"  class="btn fas fa-search"></button>
    

</form>



{% endblock header_form %}



{% block extra_head %}



  <!-- leflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>

  <link rel="stylesheet" href="{% static '/dist/MarkerCluster.css' %}" />
  <link rel="stylesheet" href="{% static '/dist/MarkerCluster.Default.css' %}" />
  <link rel="stylesheet" href="{% static 'dist/leaflet.extra-markers.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/marker.css' %}">




{% endblock extra_head %}

{% block content %}


<style>
    .button_container{
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 74px;
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 16px;
        margin-left: 3rem;

    }

    .button_container .unordered1{
        display: flex;
        list-style: none;
        align-items: center;
        position: fixed;

    }

    .button_container .unordered1 .unorderd_list{
        display: inline-block;
        border-style: none;
        margin-right: 8px;

    }

    .button_container .unordered1 .unorderd_list select{
          margin: 0px;
          border-radius: 8px;
          border-width: 1px;
          border-style: solid;
          cursor: pointer;
          display: inline-block;
          text-align: center;
          font-weight: bold;
          transition: top 0.1s ease 0s, box-shadow 0.1s ease 0s, border-color 0.1s ease 0s, background-color 0.1s ease 0s, color 0.1s ease 0s;
          white-space: nowrap;
          text-decoration: none;
          font-size: 16px;
          line-height: 1.5;
          padding: 8px 16px;
          outline: none;
          color: rgb(59, 65, 68);
          background-color: rgb(255, 255, 255);
          border-color:hsl(9, 96%, 58%) ;
      }

      .btn_submit{

          padding: 5px;
        font-size: 18px;
        color: #fb4e2e;
        border: 1px solid hsl(9, 96%, 58%);
        background: #fff;
        margin-left: 5px;
        width: 150px;
        cursor: pointer;

      }

      .btn_submit:hover{
          background: #fb4e2e;
        color: #fff;
        letter-spacing: 2px;
      }

      .selecthover:hover .dropd{
          display: block;
      }

      .dropd{
         
          position: absolute;
          margin-top: 5px;
          display:none;
          min-width: 160px;
          padding: 12px 16px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          border-radius: 20px;
          background-color: #f9f9f9;
          

      }

      .dropd .selecttt{
          
          position: relative;
          z-index: 1;
          display: inline-block;
         

      }

    /* .button_container .select{
        margin-left: 0.5rem;
        padding: 5px;
        border: 1px solid #fb4e2e;
        background: #fff;
        color: black;
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        width: 150px;
    } */

    /* .button_container button{
        padding: 5px;
        font-size: 18px;
        color: #fb4e2e;
        border: 1px solid hsl(9, 96%, 58%);
        background: #fff;
        margin-left: 5px;
        width: 150px;
        cursor: pointer;
    } */

    /* .button_container button:hover{
        background: #fb4e2e;
        color: #fff;
        letter-spacing: 2px;
    } */
</style>

<style>
    .box-icon{
      width: 30rem;
      border:.1rem solid rgba(0,0,0,.1);
      box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
      border-radius: .5absoluterem;
      overflow:hidden;
      background:rgba(0,0,0,.1);
      align-items: center;


      
    }
    .box-icon:hover .image-container-icon img{
          transform: scale(1.1);
      }

  .box-icon .image-container-icon{
      overflow:hidden;
      position: relative;
      width: 100%;
      height: 25rem;

  }
  .box-icon .image-container-icon  img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: .2s linear;
  }

  .box-icon .image-container-icon .info{
      top:1rem; left:0;
      display: flex;
  }

  .box-icon .image-connate got keystainer-icon .info h3{
      font-weight: 500;
      font-size: 1.4rem;
      color:#fff;
      background:rgba(0,0,0,.3);
      border-radius: .5rem;
      padding:.5rem 1.5rem;
      margin-left: 1rem;
  }

  .box-icon .image-container-icon .icons{
      position: absolute;
      bottom:1rem; right:0;
      display: flex;
  }

  .box-icon .image-container-icon .icons a{
      font-size: 1.4remabsolute;
      color:#fff;
      display: flex;
      border-radius: .5rem;
      background: rgba(0,0,0,.3);
      margin-right: 1rem;
      padding:.7rem;
}

.box-icon .image-container-icon .icons a:hover{
  background:#fb4e2e;
}

.box-icon .image-container-icon .icons a  h3{
  font-weight: 500;
  padding-left: .5rem;
}

.box-icon .content{
  padding:1.5rem;
  
}

.box-icon .content .price{
  display: flex;
  align-items: center;
}

.box-icon .content .price h3{
      color:#fb4e2e;
      font-size: 2rem;
      margin-right: auto;
      background: #fff;
  }

  .box-icon .content .price a{
      color:#666;
      font-size: 1.5rem;
      margin-right: .5rem;
      border-radius: .5rem;
      height:4rem;
      width:4rem;
      line-height: 4rem;
      text-align: center;
      background:#f7f7f7;
  }

  .box-icon .content .price a:hover{
      background:#fb4e2e;
      color:#fff;
  }

  .box-icon .content .location{
      padding:1rem 0;
  
  }
 
  .box-icon .content .location h3{
      font-size: 2.5rem;
      color:#333;
  }

  .box-icon .content .location  p{
      font-size: 1.5rem;
      color:#666;
      line-height: 1.5;
      padding-top: .5rem;
  }

</style>


<!-- breadbrump -->

<!-- endbread brump -->

<section class="map_started">
    <div class="mmk">
        <p > {{formatted}} </p>
    </div>

    

</section>



<div style="position:relative;" class="button_container">

    <ul class="unordered1">
        <li class="unorderd_list selecthover">

            <select class="selecthover" name="price" onChange="myNewFunction(this);"id="price">
                <option value="volvo">Any price</option>
                
              </select>

              <ul class="dropd">
                <select class="selecttt dropd" id="minprice" onChange="minimumPrice(this);">
                    <option>Minimum Price</option>
                    {% if all_rooms %}
                    {% for f in all_rooms %}
                    <option value="{{f.rent}}">Ksh {{f.rent}}</option>
                    {% endfor %}
                    {% endif %}
                  </select>

                  <select class="selecttt dropd" id="maxprice" onChange="maximumPrice(this);">
                    <option value="Maximum Price">Maximum Price</option>
                    {% if all_rooms %}
                    {% for f in all_rooms %}
                    <option value="{{f.rent}}">Ksh {{f.rent}}</option>
                    {% endfor %}
                    {% endif %}
                  </select>
              </ul>

        </li>

        <li class="unorderd_list">
            <select class="select" name="beds" id="beds"  onChange="changeRoom(this);">
                <option value="Single Room">Single Room</option>
                <option value="Bouble Room">Double Room</option>
                <option value="BedSitter">BedSitter</option>
                <option value="1 Bedroom">1 Bedroom</option>
                <option value="2 Bedroom">2 Bedroom</option>
                <option value="3 Bedroom">3 Bedroom</option>
                <option value="4 Bedroom">4 Bedroom</option>
              </select>
        </li>

        <li>
            <button onclick="changeRoom(this)" class="btn_submit" type="button"> Save </button>

        </li>


    </ul>

    

     

    

</div>



<section id="cont" class="map_container">

    <div class="map_listings">


        <div  id="card-container" class="box-container">

            
    
         
    
        </div>

        <div  id="warning"></div>


        
        

    </div>

    <div id="map" class="map_holder">

    </div>


</section>




<section class="footer">

    <div class="footer-container">

        <div class="box-container">

            <div class="box">
                <h3>branch location</h3>
                <a href="#">india</a>
                <a href="#">USA</a>
                <a href="#">france</a>
                <a href="#">russia</a>
                <a href="#">japan</a>
            </div> 
            
            <div class="box">
                <h3>quick links</h3>
                <a href="#">home</a>
                <a href="#">services</a>
                <a href="#">featured</a>
                <a href="#">agents</a>
                <a href="#">contact</a>
            </div> 

            <div class="box">
                <h3>extra links</h3>
                <a href="#">my account</a>
                <a href="#">my favorite</a>
                <a href="#">my list</a>
            </div> 

            <div class="box">
                <h3>follow us</h3>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">instagram</a>
                <a href="#">linkedin</a>
            </div> 

        </div>

        <div class="credit">created by <span> mr. web designer </span> | all rights reserved! </div>

    </div>

</section>

    



{% endblock content %}


{% block extra_js %}

<!-- markercluster  -->
<script src="{% static '/dist/leaflet.markercluster.js' %}"></script>
<script src="{% static '/dist/leaflet.extra-markers.min.js' %}"></script>
<script
src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js">
</script>

<script
        src="http://leaflet.github.io/Leaflet.draw/leaflet.draw.js">
</script>


{% comment %} <script>
    
    function activatePlacesSearch(){
        var input = document.getElementById('search_id');
        var autocomplete = new google.maps.places.Autocomplete(input);

    }
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoxbeKaFUX8imaRm6Spx8v_ypZmz4eWtA&libraries=places&callback=activatePlacesSearch"></script> {% endcomment %}


<script>
   function callingEXternalApi(){
        const value = document.getElementById('search_id').value
        console.log(value)

       
        const appended = $("#appended")

        {% comment %} <div style="width:30rem;height:5rem" class="card skeleton">
            <p  class="titlee skeleton"></p>
            <p  class ="body skeleton" ></p>
        </div>
        <div style="width:30rem;height:5rem" class="card skeleton">
            <p  class="titlee skeleton"></p>
            <p  class ="body skeleton" ></p>
        </div> {% endcomment %}

       

        const list = `<div id="info-holder" class="search_info">
           

            
        </div>`

        appended.append(list)

        const card_holder = $("#info-holder")
        card_holder.empty();
    


        



        $.ajax({
            type: 'POST',
            data : {"name":`${value}`,'csrfmiddlewaretoken': '{{ csrf_token }}'},
            url: "{% url 'homepage:call_glovo' %}",
            success: function (data) {
                const card_holder = $("#info-holder")
        card_holder.empty();
    
            const addresses =  data.addresses
    
            console.log("new data",data)
            for (let n = 0; n < addresses.length; n++) {
                const el = addresses[n];
    
                const element = `<div style="cursor:pointer;" onclick="passToIput(this)" class="card">
                    <input id="hidden_id" type="hidden" value="${el.title}" >
                    <p class="titlee">${el.title}</p>
                    <p  class ="body" >${el.subtitle}</p>
                </div>`
                card_holder.append(element)
            }

        }
    
    
    
          
       });
}
</script>

<script>

function passToIput(data){
    console.log(data)
    const doc = new DOMParser().parseFromString(String(data.innerHTML), "text/xml");
    const ele = doc.getElementById("hidden_id").getAttribute("value")
    console.log(ele)
    document.getElementById('search_id').value=ele ; 

}
</script>
<script>

    console.log("coordinates",{{coordinates}})
    const mmm = []
    {% for o in coordinates  %}
    
    //mmm.push([parseFloat({{o.lon}}),parseFloat({{o.lat}})])
    mmm.push({{o}})
    {% endfor %}

    console.log("qqqq",mmm)
</script>

<script>
 const bounds  = {
    "type": "FeatureCollection",
    "features": [
      {
        "type": "Feature",
        "properties": {},
        "geometry": {
          "type": "Polygon",
          "coordinates":[
          mmm
               ]
       
        }
      }
    ]
  };

  console.log("bounds",bounds)

  
 
 
  const b = bounds.features[0].geometry.coordinates[0];

const latl = []
var coordinates = bounds.features[0].geometry.coordinates[0];

{% for k in coordinates  %}
    const l = {{k}}
    l.forEach(element => {

        latl.push(new L.LatLng(parseFloat(element[1]), parseFloat(element[0])));
    });
    console.log("ll",l)
    
{% endfor %}


console.log("ppp",latl)


    L.Mask = L.Polygon.extend({
    options: {
        stroke: true,
        color: '#333',
        fillOpacity: 0.6,
        clickable: true,


        outerBounds: new L.LatLngBounds([-90, -360], [90, 360])
    },

    initialize: function (latLngs, options) {

         var outerBoundsLatLngs = [
            this.options.outerBounds.getSouthWest(),
            this.options.outerBounds.getNorthWest(),
            this.options.outerBounds.getNorthEast(),
            this.options.outerBounds.getSouthEast()
        ];
        L.Polygon.prototype.initialize.call(this, [outerBoundsLatLngs, latLngs], options);  
    },

});
L.mask = function (latLngs, options) {
    return new L.Mask(latLngs, options);
};


</script>

<script>

       
   
    // map
    var map = L.map( 'map', {
        center: [{{main_lat}},{{main_lng}}],
        minZoom: 1,
        zoom: 15,
        zoomControl: true
    
        });
    L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}',{
        maxZoom: 14,
        subdomains:['mt0','mt1','mt2','mt3']
    }).addTo(map);


     var smallIcon = new L.Icon({
        iconSize: [27, 27],
        iconAnchor: [13, 27],
        popupAnchor:  [1, -24],
        iconUrl: '{% static "images/mk.png" %}'
    });

   
    
     const markers = L.markerClusterGroup({
	    spiderfyShapePositions: function(count, centerPt) {
                var distanceFromCenter = 75,
                    markerDistance = 70,
                    lineLength = markerDistance * (count - 1),
                    lineStart = centerPt.y - lineLength / 2,
                    res = [],
                    i;

                res.length = count;

                for (i = count - 1; i >= 0; i--) {
                    res[i] = new Point(centerPt.x + distanceFromCenter, lineStart + markerDistance * i);
                }

                return res;
            }
});
     

     const empty_l = []
     var latLngs = [];

     $.ajax({
        type: 'POST',
        data : {"criteria_location":'{{criteria_mk}}',"xminm":'{{xmin}}',"xmaxm":'{{xmax}}',"yminm":'{{ymin}}',"ymaxm":'{{ymax}}','csrfmiddlewaretoken': '{{ csrf_token }}'},
        url: "{% url 'homepage:all_rm' %}",
        success: function (data) {

        console.log("new data",data)

        for (let n = 0; n < data.length; n++) {
            const el = data[n];
            const lat = el.building.geom.coordinates[0]
            const long = el.building.geom.coordinates[1]

            latLngs.push(new L.LatLng(lat, long));
            
        }





data.forEach(element => {

    const dicti2 = {
        type : "Feature",
        geometry : element.building.geom,
        properties : element
    }

    empty_l.push(dicti2)


    
});

const dicti = {
    type : "FeatureCollection",
    features : empty_l

}

console.log("looo",dicti)

var geojson = L.geoJson(dicti, {
onEachFeature: function(feature, layer) {
     // create popup contents
    
     console.log(feature.properties.account_number)

     var cusp = `<div style="display: flex;flex-wrap: wrap;gap:1.5rem;width: 250px;height: 200px;">


<div style="border:.1rem solid #000;box-shadow: 0 .5rem 1rem #000;border-radius: .5rem;overflow:hidden;background:#fff;flex:1 1 30rem;">
    <div style="overflow:hidden;position: relative;width: 100%;height: 10rem;">
        <img style="width: 100%;height: 200px;object-fit: cover;transition: .2s linear;" src="${feature.properties.room_picture}" alt="">
        <div style="position: absolute;top:10px; left:0;display: flex;">
          
            <h3 style="font-weight: 500;
            font-size: 10px;
            color:white;
            background:red;
            border-radius: .5rem;
            padding:.5rem ;
            margin-left: 1rem;">for rent</h3>
        </div>
       
    </div>
 
    <div >
            
        <div style=" display: flex;
        align-items: center;justify-content: space-between;margin-left: 20px;margin-right: 20px;">
            <h3 style="font-size:12px;">${feature.properties.room_name}</h3>
            <h3 style="font-size:12px;">Ksh${feature.properties.rent}/mo</h3>
            <div style="font-size:12px;" href="#" class="fas fa-heart shinning"></div>
          
        </div>
     
    
        <div style="display: flex;align-items: center; justify-content: space-evenly;margin-left: 10px;margin-right: 10px;">
                    <a style="padding:0.4rem; 0.8rem;font-size:1.3rem" href="book_request/${feature.properties.id}/" class="btn">Book Tour</a>
                    <a style="padding:0.4rem; 0.8rem;font-size:1.3rem" href="room_detailed/${feature.properties.id}/" class="btn">view details</a>
               
                </div>
    </div>
</div>

</div>
`

    

   
    
        layer.bindPopup(cusp);


    },
pointToLayer: function (feature, latlng) {
  
   const mark = markers.addLayer(L.marker(latlng, {icon: new L.divIcon({
    className: 'location-pin',
    html: `<div style="display:flex;align-items:center;justify-content:center;background:#fb4e2e;padding:1.5px;width:3.5vw;border-radius: 5px;">
        <div class="getUiSvgContainer__SvgContainer-sc-1cdn1ln-0 bDMRDK">
         
        </div><div style="font-size:10px;color:#fff;font-weight:400;line-height:1.8;">${feature.properties.rent > 1000 ? `${feature.properties.rent / 1000}K` : feature.properties.rent }/m</div></div>`,
    iconSize: [30, 30],
    iconAnchor: [18, 30]
  })}).on('mouseover',(e)=>{
        console.log(latlng)
      //  this.target.openPopup()

      var cusp = `<div style="display: flex;flex-wrap: wrap;gap:1.5rem;width: 250px;height: 200px;">


<div style="border:.1rem solid #000;box-shadow: 0 .5rem 1rem #000;border-radius: .5rem;overflow:hidden;background:#fff;flex:1 1 15rem;">
    <div style="overflow:hidden;position: relative;width: 100%;height: 10rem;">
        <img style="width: 100%;height: 200px;object-fit: cover;transition: .2s linear;" src="${feature.properties.room_picture}" alt="">
        <div style="position: absolute;top:10px; left:0;display: flex;">
          
            <h3 style="font-weight: 500;
            font-size: 10px;
            color:white;
            background:red;
            border-radius: .5rem;
            padding:.5rem ;
            margin-left: 1rem;">for rent</h3>
        </div>
       
    </div>
 
    <div >
            
        <div style=" display: flex;
        align-items: center;justify-content: space-between;margin-left: 20px;margin-right: 20px;">
            <h3 style="font-size:12px;">${feature.properties.room_name}</h3>
            <h3 style="font-size:12px;">Ksh${feature.properties.rent}/mo</h3>
            <div style="font-size:12px;" href="#" class="fas fa-heart shinning"></div>
          
        </div>
     
    
        <div style="display: flex;align-items: center; justify-content: space-evenly;margin-left: 10px;margin-right: 10px;">
                    <a style="padding:0.4rem; 0.8rem;font-size:1.3rem" href="book_request/${feature.properties.id}/" class="btn">Book Tour</a>
                    <a style="padding:0.4rem; 0.8rem;font-size:1.3rem" href="room_detailed/${feature.properties.id}/" class="btn">view details</a>
               
                </div>
    </div>
</div>

</div>
`

    

      
 

       
        var popup = L.popup()
            .setLatLng(e.latlng) 
            .setContent(cusp)
            .openOn(map);
        // var card_container  =  $('#card-container')
        // {% comment %} card_container.empty();
        // card_container.append(element) {% endcomment %}

    }));

    return mark
  }
});


geojson.addTo(map);

map.fitBounds(latl); 


if(latl.length > 0){
    L.mask(latl).addTo(map);

}else{

    var circle = L.circle([{{main_lat}},{{main_lng}}], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0,
        radius: 6000
    }).addTo(map);
    

}




{% comment %} L.polyline(mmm).addTo(map); {% endcomment %}

          
        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["responseJSON"]["error"]);
        }
    })

    
    
    map.addLayer(markers);
   
  

    



</script>


<script>

    var card_container  =  $('#card-container')
    var cont = $("#cont")
    let all_rooms_list = null


    card_container.empty();

        const holder = ` <div style="height: 400px;" class="box">
                <div class="image-container skeleton">
                    <div style="width:100px;height:200px" class="image_holder skeleton"></div>
                   
                   
                </div>
                <div class="content">
                        
                    <div class="price">
                        <h3 style="width: 15rem;height: 20px;" class="skeleton"></h3>
                        <div style="width: 5rem ; height: 20px;" class="skeleton"></div>
                      
                    </div>
                    <div class="location">
                        <h3 style="width: 20rem;height: 20px;" class="skeleton"></h3>
                        <p style="width: 20rem;height: 20px; margin-top: 10px;" class="skeleton"></p>
                    </div>
                  
                    <div class="buttons">
                        <a href="#" class="btn skeleton"></a>
                        <a href="#" class="btn skeleton"></a>
                    </div>
                </div>
            </div>`

        for(let i = 0;i<8;i++){
            card_container.append(holder)
        } 


    $.ajax({
        type: 'POST',
        data : {"criteria_location":'{{criteria_mk}}',"xminm":'{{xmin}}',"xmaxm":'{{xmax}}',"yminm":'{{ymin}}',"ymaxm":'{{ymax}}','csrfmiddlewaretoken': '{{ csrf_token }}'},
        url: "{% url 'homepage:all_rm' %}",
        success: function (response) {
            console.log(response)
            card_container.empty();

        if(response.length > 0){
            

            
            // on successfull creating object
             // 1. clear the form.
            var dataa = response
            all_rooms_list = response

            for (let j = 0; j < dataa.length; j++) {
                var r = dataa[j];
                console.log(r)

                var elm = `<div  onmouseover="bigImg(this)" onmouseout="normalImg(this)" class="box">
                <input type="hidden" id="hidden_id" value="${r.id}">
            <div class="image-container">
                <img src="${r.room_picture}" alt="">
                
               
            </div>
            <div class="content">
                <div class="price">
                    <h3>Ksh : ${r.rent}/mo</h3>
                    <!-- <a href="{{r.get_saved_rentals}" class="fas fa-heart shinning"></a> -->
                    <a style="background: red;color: white;" href="${r.get_unsaved_rentals}" class="fas fa-heart"></a>
               
                </div>
                <div class="location">
                    <h3>${r.building.building_name}(${r.room_name})</h3>
                
                </div>
                <div style="flex-wrap:wrap;" class="details">
                    ${r.room_size ? `<h3> <i class="fas fa-expand"></i> ${r.room_size} sqft </h3>` : `` }
                    ${r.room_type ? `<h3> <i class="fas fa-bed"></i> ${r.room_type} </h3>` : `` }
                
                    ${r.bathtab_np ? `<h3> <i class="fas fa-bath"></i> ${ r.bathtab_np} bathtab </h3>` : `` }
                
                    ${r.balcony ? `<h3> <i class="fas fa-door-closed"></i>balcony </h3>` : `` }
                    ${r.building.tv_connection ? `<h3> <i class="fas fa-tv"></i> tv connection </h3>` : ``}
                    ${r.building.security ? `<h3> <i class="fas fa-key"></i> security </h3> ` : `` }

                </div>
                <div class="buttons">
                    <a href="book_request/${r.id}/" class="btn">Book Tour</a>
                    <a href="room_detailed/${r.id}/" class="btn">view details</a>
               
                </div>
            </div>
        </div>

`
               
                
          card_container.append(elm)

                
            
                
                

                //card_container.append(element)
              }

            
            // display the newly friend to table.
            // var instance = JSON.parse(response);

        }else{
           const w =  $("#warning").empty()
           card_container.empty();
           w.append(`<div  class="information">
            <h1>Our servers had some issues with your request</h1>
            <P>Please try to search again</P>

            <div class="image-container">
                <img src="https://www.trulia.com/images/txl3R/placeholder_images/NoResult.svg" alt="">
            </div>

            <div class="text-container">
                <div class="near_etsate">
                    <h3>Near Houses</h3>
                    <ul>
                        <li onclick="getLocation("Single Room")" ><a   >Single room near me</a></li>
                        <li><a onclick="return getLocation("Bouble Room");" href="">Bouble Room room near me</a></li>
                        <li><a onclick="return getLocation("BedSitter");" href="">BedSitter room near me</a></li>
                        <li><a onclick="return getLocation("1 Bedroom");" href="">1 Bedroom room near me</a></li>
                        <li><a onclick="return getLocation("2 Bedroom");" href="">2 Bedroom room near me</a></li>
                        <li><a onclick="return getLocation("3 Bedroom");" href="">3 Bedroom room near me</a></li>
                        <li><a onclick="return getLocation("4 Bedroom");" href="">4 Bedroom room near me</a></li>
                    </ul>
                </div>

                <div class="near_etsate">
                    <h3>Near Houses By Location</h3>
                    <ul>
                        <li><a href="">Houses in Nairobi</a></li>
                        <li><a href="">Houses In kisumu</a></li>
                        <li><a href="">Houses in juja</a></li>
                        <li><a href="">Three room near me</a></li>
                    </ul>
                </div>
            </div>
{% comment %} 
            <p>
                Trulia is a registered Trademark of Zillow, Inc. and MLS listings are provided by Zillow, Inc., a licensed real estate brokerage. See here for a list of our real estate licenses. Contact Zillow, Inc Brokerage
            </p> {% endcomment %}
{% comment %} 
            <div class="pages-navigation">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">New House</a></li>
                    <li><a href="">House Mapview</a></li>
                    <li><a href="">House List View</a></li>
                </ul>
            </div> {% endcomment %}

            {% comment %} <p>
                Zillow Group is committed to ensuring digital accessibility for individuals with disabilities.  We are continuously working to improve the accessibility of our web experience for everyone,  and we welcome feedback and accommodation requests. If you wish to report an issue or seek an  accommodation, please let us know.
            </p> {% endcomment %}
        </div>`)

        }

          
           
            

          
          
        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["responseJSON"]["error"]);
        }
    })

</script>



<script>
    function maximumPrice(sel) {
            // make POST ajax call
            var min_p =  document.getElementById('minprice');
            var bb = document.getElementById('beds')
            var max_price = document.getElementById('maxprice')

            var card_containe  =  $('#card-container')
              
              card_containe.empty();
            const holder = ` <div style="height: 400px;" class="box">
                <div class="image-container skeleton">
                    <div style="width:100px;height:200px" class="image_holder skeleton"></div>
                   
                   
                </div>
                <div class="content">
                        
                    <div class="price">
                        <h3 style="width: 15rem;height: 20px;" class="skeleton"></h3>
                        <div style="width: 5rem ; height: 20px;" class="skeleton"></div>
                      
                    </div>
                    <div class="location">
                        <h3 style="width: 20rem;height: 20px;" class="skeleton"></h3>
                        <p style="width: 20rem;height: 20px; margin-top: 10px;" class="skeleton"></p>
                    </div>
                  
                    <div class="buttons">
                        <a href="#" class="btn skeleton"></a>
                        <a href="#" class="btn skeleton"></a>
                    </div>
                </div>
            </div>`

        for(let i = 0;i<8;i++){
            card_containe.append(holder)
        } 

            $.ajax({
                type: 'POST',
                url: "{% url 'homepage:filtered_data' %}",
                data: {min:min_p.value, max:max_price.value,beds:bb.value,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (response) {
                    console.log("room response",response) ;
                    var card_containe  =  $('#card-container')
              
                    card_containe.empty();

                    for (let i = 0; i < response.length; i++) {
                        const resp =  response[i];
                        var els =`
                        <div onmouseover="bigImg(this)" onmouseout="normalImg(this)" class="box">
                            <input type="hidden" id="hidden_id" value="${resp.id}">
            <div class="image-container">
                <img src="${resp.room_picture}" alt="">
                <div class="info">
                    <h3>3 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="icons">
                    <a href="#" class="fas fa-film"><h3>1</h3></a>
                      
                    <a href="#" class="fas fa-camera"><h3>4</h3></a>
                    
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>Ksh : ${resp.rent}/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    
                </div>
                <div class="location">
                    <h3>${resp.building.building_name}(${resp.room_name})</h3>
                   
                </div>
                <div class="details">
                    

                    
                    ${resp.room_size ? `<h3> <i class="fas fa-expand"></i> ${resp.room_size} sqft </h3>` : null }
                    ${resp.room_type ? `<h3> <i class="fas fa-bed"></i> ${resp.room_type} </h3>` : null}
                    ${resp.bathtab_np ? `<h3> <i class="fas fa-bath"></i> ${resp.bathtab_np} bathtab </h3>` : null } 
                    ${resp.balcony ? `<h3> <i class="fas fa-door-closed"></i>balcony </h3>` : null} 
                    ${resp.building.tv_connection? `<h3> <i class="fas fa-tv"></i> tv connection </h3>` : null}
                    ${resp.building.security ? `<h3> <i class="fas fa-key"></i> security </h3>`:null}
                    
                  
                
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="/room_detailed/${resp.id}/" class="btn">view details</a>
                </div>
            </div>
        </div>`;
                    // on successfull creating object
                  
                   
                card_containe.append(els) 
                        console.log(resp);

                    };
                    
                    // display the newly friend to table.
                    
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response["responseJSON"]["error"]);
                }
            })
        

       

}



</script>

<script>
    function minimumPrice(sel) {
            // make POST ajax call
            var min_p =  document.getElementById('minprice');
            var bb = document.getElementById('beds')
            var max_price = document.getElementById('maxprice')


            var card_containe  =  $('#card-container')
              
              card_containe.empty();
            const holder = ` <div style="height: 400px;" class="box">
                <div class="image-container skeleton">
                    <div style="width:100px;height:200px" class="image_holder skeleton"></div>
                   
                   
                </div>
                <div class="content">
                        
                    <div class="price">
                        <h3 style="width: 15rem;height: 20px;" class="skeleton"></h3>
                        <div style="width: 5rem ; height: 20px;" class="skeleton"></div>
                      
                    </div>
                    <div class="location">
                        <h3 style="width: 20rem;height: 20px;" class="skeleton"></h3>
                        <p style="width: 20rem;height: 20px; margin-top: 10px;" class="skeleton"></p>
                    </div>
                  
                    <div class="buttons">
                        <a href="#" class="btn skeleton"></a>
                        <a href="#" class="btn skeleton"></a>
                    </div>
                </div>
            </div>`

        for(let i = 0;i<8;i++){
            card_containe.append(holder)
        } 

            $.ajax({
                type: 'POST',
                url: "{% url 'homepage:filtered_data' %}",
                data: {min:min_p.value, max:max_price.value,beds:bb.value,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (response) {
                    console.log(response) ;
                    var card_containe  =  $('#card-container')
              
                    card_containe.empty();

                    for (let i = 0; i < response.length; i++) {
                        const resp =  response[i];
                        var els =`
                        <div onmouseover="bigImg(this)" onmouseout="normalImg(this)" class="box">
                            <input type="hidden" id="hidden_id" value="${resp.id}">
            <div class="image-container">
                <img src="${resp.room_picture}" alt="">
                <div class="info">
                    <h3>3 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="icons">
                    <a href="#" class="fas fa-film"><h3>1</h3></a>
                      
                    <a href="#" class="fas fa-camera"><h3>4</h3></a>
                    
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>Ksh : ${resp.rent}/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    
                </div>
                <div class="location">
                    <h3>${resp.building.building_name}(${resp.room_name})</h3>
                   
                </div>
                <div class="details">
                    

                    
                    ${resp.room_size ? `<h3> <i class="fas fa-expand"></i> ${resp.room_size} sqft </h3>` : null }
                    ${resp.room_type ? `<h3> <i class="fas fa-bed"></i> ${resp.room_type} </h3>` : null}
                    ${resp.bathtab_np ? `<h3> <i class="fas fa-bath"></i> ${resp.bathtab_np} bathtab </h3>` : null } 
                    ${resp.balcony ? `<h3> <i class="fas fa-door-closed"></i>balcony </h3>` : null} 
                    ${resp.building.tv_connection? `<h3> <i class="fas fa-tv"></i> tv connection </h3>` : null}
                    ${resp.building.security ? `<h3> <i class="fas fa-key"></i> security </h3>`:null}
                    
                  
                
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="/room_detailed/${resp.id}/" class="btn">view details</a>
                </div>
            </div>
        </div>`;
                    // on successfull creating object
                  
                   
                card_containe.append(els) 
                        console.log(resp);

                    };
                    
                    // display the newly friend to table.
                    
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response["responseJSON"]["error"]);
                }
            })
        

       

}

</script>


<script>
    function changeRoom(sel){
                 // make POST ajax call
                 var min_p =  document.getElementById('minprice');
            var bb = document.getElementById('beds')
            var max_price = document.getElementById('maxprice')


            var card_containe  =  $('#card-container')
              
              card_containe.empty();
            const holder = ` <div style="height: 400px;"  class="box">
                <div class="image-container skeleton">
                    <div style="width:100px;height:200px" class="image_holder skeleton"></div>
                   
                   
                </div>
                <div class="content">
                        
                    <div class="price">
                        <h3 style="width: 15rem;height: 20px;" class="skeleton"></h3>
                        <div style="width: 5rem ; height: 20px;" class="skeleton"></div>
                      
                    </div>
                    <div class="location">
                        <h3 style="width: 20rem;height: 20px;" class="skeleton"></h3>
                        <p style="width: 20rem;height: 20px; margin-top: 10px;" class="skeleton"></p>
                    </div>
                  
                    <div class="buttons">
                        <a href="#" class="btn skeleton"></a>
                        <a href="#" class="btn skeleton"></a>
                    </div>
                </div>
            </div>`

        for(let i = 0;i<8;i++){
            card_containe.append(holder)
        } 

            $.ajax({
                type: 'POST',
                url: "{% url 'homepage:filtered_data' %}",
                data: {min:min_p.value, max:max_price.value,beds:bb.value,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function (response) {
                    console.log(response) ;
                    var card_containe  =  $('#card-container')
              
                    card_containe.empty();

                    for (let i = 0; i < response.length; i++) {
                        const resp =  response[i];
                        var els =`
                    <div onmouseover="bigImg(this)" onmouseout="normalImg(this)" class="box">
                        <input type="hidden" id="hidden_id" value="${resp.id}">
            <div class="image-container">
                <img src="${resp.room_picture}" alt="">
                <div class="info">
                    <h3>3 days ago</h3>
                    <h3>for rent</h3>
                </div>
                <div class="icons">
                    <a href="#" class="fas fa-film"><h3>1</h3></a>
                      
                    <a href="#" class="fas fa-camera"><h3>4</h3></a>
                    
                </div>
            </div>
            <div class="content">
                <div class="price">
                    <h3>Ksh : ${resp.rent}/mo</h3>
                    <a href="#" class="fas fa-heart"></a>
                    
                </div>
                <div class="location">
                    <h3>${resp.building.building_name}(${resp.room_name})</h3>
                   
                </div>
                <div class="details">
                    

                    
                    ${resp.room_size ? `<h3> <i class="fas fa-expand"></i> ${resp.room_size} sqft </h3>` : null }
                    ${resp.room_type ? `<h3> <i class="fas fa-bed"></i> ${resp.room_type} </h3>` : null}
                    ${resp.bathtab_np ? `<h3> <i class="fas fa-bath"></i> ${resp.bathtab_np} bathtab </h3>` : null } 
                    ${resp.balcony ? `<h3> <i class="fas fa-door-closed"></i>balcony </h3>` : null} 
                    ${resp.building.tv_connection? `<h3> <i class="fas fa-tv"></i> tv connection </h3>` : null}
                    ${resp.building.security ? `<h3> <i class="fas fa-key"></i> security </h3>`:null}
                    
                  
                
                </div>
                <div class="buttons">
                    <a href="#" class="btn">request info</a>
                    <a href="/room_detailed/${resp.id}/" class="btn">view details</a>
                </div>
            </div>
        </div>`;
                    // on successfull creating object
                  
                   
                card_containe.append(els) 
                        console.log(resp);

                    };
                    
                    // display the newly friend to table.
                    
                },
                error: function (response) {
                    // alert the error if any error occured
                    console.log(response["responseJSON"]["error"]);
                }
            })
        

   
    }
</script>

<script>

</script>


<script>

let mm = null;
 function bigImg(x) {

    // console.log(String(x.innerHTML))

 const doc = new DOMParser().parseFromString(String(x.innerHTML), "text/xml");
  const ele = doc.getElementById("hidden_id").getAttribute("value")
  console.log(ele)

  const li_holder = []
  if(all_rooms_list !== null){
    all_rooms_list.forEach(element => {
        if(parseInt(element.id) === parseInt(ele)){
            li_holder.push(element)

        }
          
      });
  }

  const hovered_element = li_holder[0]
  console.log(li_holder[0])

  var cusp = `<div style="display: flex;flex-wrap: wrap;gap:1.5rem;width: 250px;height: 200px;">


<div style="border:.1rem solid #000;box-shadow: 0 .5rem 1rem #000;border-radius: .5rem;overflow:hidden;background:#fff;flex:1 1 15rem;">
    <div style="overflow:hidden;position: relative;width: 100%;height: 10rem;">
        <img style="width: 100%;height: 200px;object-fit: cover;transition: .2s linear;" src="${hovered_element.room_picture}" alt="">
        <div style="position: absolute;top:10px; left:0;display: flex;">
          
            <h3 style="font-weight: 500;
            font-size: 10px;
            color:white;
            background:red;
            border-radius: .5rem;
            padding:.5rem ;
            margin-left: 1rem;">for rent</h3>
        </div>
       
    </div>
 
    <div >
            
        <div style=" display: flex;
        align-items: center;justify-content: space-between;margin-left: 20px;margin-right: 20px;">
            <h3 style="font-size:12px;">${hovered_element.room_name}</h3>
            <h3 style="font-size:12px;">Ksh${hovered_element.rent}/mo</h3>
            <div style="font-size:12px;" href="#" class="fas fa-heart shinning"></div>
          
        </div>
     
    
        <div style="display: flex;align-items: center; justify-content: space-evenly;margin-left: 10px;margin-right: 10px;">
                    <a style="padding:0.4rem; 0.8rem;font-size:1.3rem" href="book_request/${hovered_element.id}/" class="btn">Book Tour</a>
                    <a style="padding:0.4rem; 0.8rem;font-size:1.3rem" href="room_detailed/${hovered_element.id}/" class="btn">view details</a>
               
                </div>
    </div>
</div>

</div>
`

    


          var smallIcon = L.divIcon({
            className: 'location-pin',
            html: `<div style="display:flex;align-items:center;justify-content:center;background:#fb4e2e;padding:1.5px;width:3.5vw;border-radius: 5px;">
                <div class="getUiSvgContainer__SvgContainer-sc-1cdn1ln-0 bDMRDK">
                 
                </div><div style="font-size:10px;color:#fff;font-weight:400;line-height:1.8;">${parseFloat(hovered_element.rent) > 1000 ? `${parseFloat(hovered_element.rent) / 1000}K` : parseFloat(hovered_element.rent) }/m</div></div>`,
            iconSize: [30, 30],
            iconAnchor: [18, 30]
          })
    
    

    const lat_long = [hovered_element.building.geom.coordinates[1],hovered_element.building.geom.coordinates[0]]
    mm = new L.marker(lat_long,{icon:smallIcon }).addTo(map).bindPopup(cusp);
    map.invalidateSize();
    mm.openPopup();
    mm.on("mouseover",(e)=>{
        mm.openPopup();
    })

}
</script>


<script>
    function normalImg(x) {
    // map.removeLayer(mm)
}
</script>



<script>


function getLocation(bedroom) {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition, showError);
        } else {
          alert(`The Browser Does not Support Geolocation`)
        }
      }

      function showPosition(position) {
          
        var innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;

        console.log(innerHTML)
        console.log(bedroom)
      }

      function showError(error) {
        if(error.PERMISSION_DENIED){
            alert("The User have denied the request for Geolocation.")
   
        }
      }
     

</script>





{% endblock extra_js %}