{% extends 'base.html' %}
{% load static %}

{% block extra_head %}

  <!-- leflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>



{% endblock extra_head %}


{% block content %}

<!-- breadbrump -->
<section class="breadbrump">
    <div>
       <div >
          <h1 class="page-title">Product Details</h1>
          <div>
             <ul>
                <li><a href="#/"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="#/"><i class="fas fa-angle-double-right"></i> Product Details </a></li>
             </ul>
          </div>
       </div>
    </div>
    </div>
  </section>
  
<!-- endbread brump -->


<section class="image-container">
    <div class="container">
        <div class="mySlides">
          <div class="numbertext">1 / 6</div>
          <img src="{{building.building_main_pic.url}}" style="width:100%">
        </div>
      
        {% if building_more_pic %}
        {% for b in building_more_pic %}

        <div class="mySlides">
          <div class="numbertext">1 / 6</div>
          <img src="{{b.image.url}}" style="width:100%">
        </div>
        {% endfor %}
        {% endif %}
      
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
      
        <div class="caption-container">
          <p id="caption"></p>
        </div>
{% comment %}       
        <div class="row">
          <div class="column">
            <img class="demo cursor" src="{{building.building_main_pic.url}}" style="width:100%" onclick="currentSlide(1)" >
          </div>

          {% if building_more_pic %}
        {% for b in building_more_pic %}
        <div class="column">
          <img class="demo cursor" src="{{b.image.url}}" style="width:100%" onclick="currentSlide(b.id)" alt="Cinque Terre">
        </div>
        {% endfor %}
        {% endif %}
        
         
        </div> {% endcomment %}
      </div>
      
</section>



<section class="ltn__shop-details-area pb-10">
    <div class="container">
      <div class="row">
        <div class="bigger-column">
          <div class="ltn__blog-meta">
            <ul>
              <li class="ltn__blog-category">
                  <a href="#">Featured</a>
              </li>
              <li class="ltn__blog-category">
                  <a class="bg-orange" href="#">For Rent</a>
              </li>
              <li class="ltn__blog-date">
                  <i class="far fa-calendar-alt"></i>{{building.created}}
              </li>
              
          </ul>
  
          </div>
          <h1>{{building.building_name}}</h1>
          <label><span class="ltn__secondary-color"><i class="fas fa-map-pin"></i></span> {{building.location_name}}</label>
          <h4 class="title-2">Description</h4>
  
          <p>{{building.description}}</p>
  
           
              <h4 class="title-2">Property Detail</h4>
  
              <div class="section-bg-1">                          
                <ul>
                    <li><label>Owner Name:</label> <span>{{building.owner}}</span></li>
                    <li><label>Parking Space: </label> <span>{{building.parking_space}} sqm</span></li>
                    <li><label>Number of Floors:</label> <span>{{building.no_of_floors}}</span></li>
                  
                </ul>
                <ul>
                    {% if building.security == True %}
                    <li><label>Security:</label> <span>Available </span></li>

                    {% else %}

                    <li><label>Security:</label> <span>UnAvailable </span></li>


                    {% endif %}

                    {% if building.tv_connection == True %}
                    <li><label>Tv connection :</label> <span>Available </span></li>

                    {% else %}

                    <li><label>Tv connection:</label> <span>UnAvailable </span></li>


                    {% endif %}
                    <li><label>Number of Rooms:</label> <span>{{building.no_of_Room}}</span></li>
                   
                    
                </ul>
            </div>
            <h4 class="title-2">Location</h4>

            
            <div id="map_building" class="property-details-google-map mb-60" style="width:100%;height:100%">
              
          </div>
          
        </div>
  
        <div class="smaller-col">
  
          <aside>
            <div class="widget">
              <div class="text-center">
                <img src="{% static '/images/4.jpg' %}" alt="" srcset="">
                <h5>William K. Margret</h5>
                <small>Travle/nnna</small>
                {{building.agent}}

                

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit suscipit soluta eos repellendus laboriosam velit odio beatae, fugiat minus numquam eum dignissimos molestiae repellat ut harum asperiores voluptates tempora. Quas?</p>
  
              
              </div>
  
            </div>
  
          
  
          </aside>
  
        </div>
  
      </div>
  
    </div>
  
</section>


<!-- featured section starts  -->


<section class="featured" id="featured">

  <h1 class="heading"> <span>All</span> Rooms </h1>

  <div class="box-container">

      {% if rooms %}
      {% for r in rooms  %}
      <div class="box">
          <div class="image-container">
              <img src="{{r.room_picture.url}}" alt="">
              <div class="info">
                  <h3>3 days ago</h3>
                  <h3>for rent</h3>
              </div>
              <div class="icons">
                  <a href="#" class="fas fa-film"><h3>1</h3></a>
                    
                  <a href="#" class="fas fa-camera"><h3>4</h3></a>
                  
              </div>
          </div>
          <div class="content">
              <div class="price">
                  <h3>Ksh : {{r.rent}}/mo</h3>
                  <a href="#" class="fas fa-heart"></a>
                  <a href="#" class="fas fa-envelope"></a>
                  <a href="#" class="fas fa-phone"></a>
              </div>
              <div class="location">
                  <h3>{{r.building.building_name}}({{r.room_name}})</h3>
                  <p>{{r.building.location_name}}</p>
              </div>
              <div class="details">
                  {% if r.room_size %}
                  <h3> <i class="fas fa-expand"></i> {{r.room_size}} sqft </h3>
                  {% endif %}
                  {% if r.room_type %}

                  <h3> <i class="fas fa-bed"></i> {{r.room_type}} </h3>
                  {% endif %}
                  {% if r.bathtab_np != 0 %}
                  <h3> <i class="fas fa-bath"></i> {{ r.bathtab_np}} bathtab </h3>
                  {% endif %}
                  {% if r.balcony %}
                  <h3> <i class="fas fa-door-closed"></i>balcony </h3>

                  {% endif %}

                  {% if r.building.tv_connection  %}
                  
                  <h3> <i class="fas fa-tv"></i> tv connection </h3>

                  {% endif %}

                  {% if r.building.security  %}
                  
                  <h3> <i class="fas fa-key"></i> security </h3>

                  {% endif %}
              </div>
              <div class="buttons">
                  <a href="#" class="btn">request info</a>
                  <a href="#" class="btn">view details</a>
              </div>
          </div>
      </div>
      {% endfor %}
      {% endif %}

    
  </div>
  
</section>

<section class="footer">

    <div class="footer-container">

        <div class="box-container">

            <div class="box">
                <h3>branch location</h3>
                <a href="#">india</a>
                <a href="#">USA</a>
                <a href="#">france</a>
                <a href="#">russia</a>
                <a href="#">japan</a>
            </div> 
            
            <div class="box">
                <h3>quick links</h3>
                <a href="#">home</a>
                <a href="#">services</a>
                <a href="#">featured</a>
                <a href="#">agents</a>
                <a href="#">contact</a>
            </div> 

            <div class="box">
                <h3>extra links</h3>
                <a href="#">my account</a>
                <a href="#">my favorite</a>
                <a href="#">my list</a>
            </div> 

            <div class="box">
                <h3>follow us</h3>
                <a href="#">facebook</a>
                <a href="#">twitter</a>
                <a href="#">instagram</a>
                <a href="#">linkedin</a>
            </div> 

        </div>

        <div class="credit">created by <span> mr. web designer </span> | all rights reserved! </div>

    </div>

</section>

    

{% block extra_js %}


<script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      var captionText = document.getElementById("caption");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
      captionText.innerHTML = dots[slideIndex-1].alt;
    }
</script>


<script>

    var map = L.map('map_building').setView([51.505, -0.09], 13);

	var tiles = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(map);

    var smallIcon = new L.Icon({
        iconSize: [27, 27],
        iconAnchor: [13, 27],
        popupAnchor:  [1, -24],
        iconUrl: '{% static "images/mk.png" %}'
    });

</script>



<script>

   


    $.ajax({
        type: 'GET',
        url: "{% url 'homepage:get_all_data' %}",
        success: function (response) {
            // on successfull creating object
             // 1. clear the form.
            var dataa = response.features

            for (let j = 0; j < dataa.length; j++) {
                var building = dataa[j];
                if( building.id === {{building.id}}){
                    console.log(building.geometry.coordinates)
                       
                L.marker(building.geometry.coordinates).addTo(map);


                }
                
             
                //card_container.append(element)
              }

            
            // display the newly friend to table.
            // var instance = JSON.parse(response);


          
           
            

          
          
        },
        error: function (response) {
            // alert the error if any error occured
            alert(response["responseJSON"]["error"]);
        }
    })

</script>


<script>
  var slideIndex = 1;
  setInterval(()=>{
              showSlides(slideIndex += -1)
  
          }, 6000)
  </script>
  


{% endblock extra_js %}



  {% endblock content %}