{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rentobay</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="waiting_container">
        <div class="in_wait">
            <img src="{% static './images/background.png' %}" alt="">
        <h1 id="title">Thank You for booking with us</h1>
        <p id="message">WE have sent you push notification which will be used for payment,
            if you have not received it:
            <br>
            follow this steps
            <ol id="payme" style="list-style: none; font-size: 16px; margin-top: 10px; color: #666;text-align: center;">

                <li style="color: #666;">Go to Mpesa</li>
                <li style="color: #666;">Go to lipa Na Mpesa</li>
                <li style="color: #666;">Go to Buy goods and services</li>
                <li style="color: #666;">Enter Paybill </li>
                <li style="color: #666;">Enter Amount of Ksh 1</li>
                <li style="color: #666;">ENter Pin</li>
                

            </ol>

            
        </p>
        <a style="margin-bottom:20px;" href="{% url 'payment:customer_to_business' %}" class="btn">Paid Offline Continue</a>
        <a style="margin-bottom:20px;" href="{% url 'homepage:homepage' %}" class="btn">Home</a>
        </div>
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script>

const wsStart='ws://'
const  endpoint=wsStart + window.location.host + "/ws/payment_successfull/";

    const socket1 = new WebSocket(endpoint);
    socket1.onmessage = function(event){
      const threewayEnergybet = event.data
      // setEightFootball(threewayEnergybet)
      const js_data =  JSON.parse(threewayEnergybet)
      console.log(js_data)
      
      $("#title").text(js_data.title)
      $("#message").text(js_data.message)
      $("#payme").empty()

      
      
    }
    </script>
    
</body>
</html>